.home {
  // display: flex;
  width: 100%;
  padding: 12px 0;
  &__header {
    width: 240px;
    border-right: 1px solid gray;
    min-height: 100vh;
    padding: 16px;
    background-color: red;
  }
  .post {
    width: 100%;
    text-align: left;
    .name {
      font-size: 16px;
      padding: 8px;
    }
    img {
      margin: 0 auto;
      min-height: 400px;
      width: auto;
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
    }
    .caption {
      padding: 2px 8px;
    }
  }
}